.sideBar{
    background-color: black;
    
    border-right: 0.05px solid rgb(38,38,38);
    flex-direction: column;
    padding: 8px 12px 10px;
    height: 100%;
    
    position: fixed;
    width: 220px;
}

.MainIcons{
    margin-top: 20px;
    font-size: 40 ; 
    color: white;
    height: 80px;
    width: 56px;
}

.SideIcons{
    
    
    padding-left: 10px;
    align-items: center;
    color: white;
    height: 65px;
    width: 56px;
    display: flex;
}

.profileAvitar{
  margin-left:10px ;
  height: 30px;
  width: 30px;
  
}




.sideIconsContainer{
    height: 76%;
    width: 220px;
    
}

.MenuIcon{
    color: white;
    
}

.SideIconText{
    padding-left: 20px;
    font-weight:bolder; 
}