

 
  
  .StoryBar{
     
     overflow-y: hidden;
      height: 85px;
      width: 460px;
      display: flex;
      align-items: center;
      overflow-y: scroll;
      margin:0 20% 5px ;
  }
  
  .storyAvatar{
    margin: 0 8px;
    border: 1px solid red;
  }

